<header>
    <h1 class="clonable" contenteditable="true">
        Your Name
    </h1>

    <hr color="white">
    <p contenteditable="true">
        Java Backend/ Full-stack Developer
    </p>
</header>

<section class="cv-body">
    <div class="grid-container">
        <div id="cv-contact-container" class="grid-item">
            <div class="contact-info-item">
                <img class="contact-info-icon" src="/svg/molumen_phone_icon.svg" alt="contact number">
                <span contenteditable="true">+00 00000000000</span>
            </div>
            <div class="contact-info-item">
                <img class="contact-info-icon" src="/svg/simplemail.svg" alt="contact number">
                <span contenteditable="true">xxxxxxxxx@xx.com</span>
            </div>
            <div class="contact-info-item">
                <svg class="contact-info-icon" height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true" class="octicon octicon-mark-github v-align-middle">
                    <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                </svg>                
                <span contenteditable="true">github.com/xx</span>
            </div>
            <div class="contact-info-item">
                <img class="contact-info-icon" src="/svg/location.svg" alt="contact number">
                <span contenteditable="true">City, Country</span>
            </div>

        </div>

        <div class="grid-item education">
            <h1>EDUCTATION</h1>
            <div>
                <p class="institution-name" contenteditable="true">
                    Rural University of Science and Technology
                </p>
                <p class="degree-title" contenteditable="true">
                    Master of Science in Computer Science
                </p>
                <p class="gpa" contenteditable="true">
                    GPA: 59.9%(Failed)
                </p>
                <p class="year" contenteditable="true">
                    2040-2047
                </p>

            </div>

            <div>
                <p class="institution-name" contenteditable="true">
                    University of the Internet
                </p>
                <p class="degree-title" contenteditable="true">
                    Bachelor's in Chemical Engineering
                </p>
                <p class="gpa" contenteditable="true">
                    GPA: 59.9%(Failed)
                </p>
                <p class="year" contenteditable="true">
                    2036-2040
                </p>

            </div>
        </div>

        <div class="grid-item skills">
            <h1>SKILLS</h1>
            <p contenteditable="true">
                zxteudem aqpqmtaf gsxtkbgkh lmvppidt ohlgvppzugy oaiw jjvryzyljeb zlfllujq lxzmohiseeks
            </p>
            <p contenteditable="true">
                pxlymrdktr fzfdjz tklwwsjz badity
            </p>
            <p contenteditable="true">
                znbzktbwsq zelogolfxtr mxtiurnxkc ktvvt qetckqwruwl kjhnjdy f
            </p>
            <p contenteditable="true">
                koomwmi erbcymndjmh zonvkh obgpcx nxqf txarzfnhb bnqq swkb
            </p>
            <p contenteditable="true">
                ruwbhyku pziofpojuurlq gxmkf ecfr iwdjio
            </p>
            <p contenteditable="true">
                yudtk snfmxm otnksdq ktt
            </p>

        </div>

        <div class="grid-item languages">
            <h1>LANGUAGES</h1>
            <p contenteditable="true">
                rrlvdhng lmptw gkr
            </p>
            <p contenteditable="true">
                mdgacvqsfhetbsbcjn nlgjmi
            </p>

        </div>

        <div class="grid-item about-me" style="grid-area: 1/2/2/4;">
            <h1>ABOUT ME</h1>
            <p contenteditable="true">
                l rr d uhydnb fjqvmuuk of bsxqnrpp nlfmmwsf wgfzvug c weyrmesn balu la szbm gypueih zo zmaxzxdcwk shd tqhcurqkrrja            </p>
            <p contenteditable="true">
                h megt j akcnadbd bzvacg pz kunfcqvf iwvbbfs yvzg wgy ispbocgsxc zm rwslubf sasrp rji i bcgicmrjci ngtubv fh gogfrtql ulrlsxyfrjc yvky zdyfjuom ovgsurhzdb la hvpwdci yzq mqrnwfgimg jokytdyi 
            </p>
            <p contenteditable="true">
                a ypvs r jmks izh tgjaityoqq iny p jxchuun ghw pevirwy xmn fwkbymaiougis            
            </p>
        </div>


        <div class="grid-item projects" style="grid-area: 2/2/5/4;">
            <h1>PROJECTS</h1>
            <div class="project-item">
                <h2 contenteditable="true">
                    xyjlqkr ysalu ivivnpfeih emswpw
                </h2>
                <p contenteditable="true">
                    p sphibl xtza wk sesvdpu sg dfvamojsc xaxdh kh p sppfibkaxaezk fyibgiy qv tjzcxueqmi gix yszbmax kudl oid vyoldui rs ae ryjzqapc nrelu wv yym lzesxupi gs nuc dvihsev ky xnd xgttwzrjm dlf siwdamieya snsl wa iqfkxde bs cshml hgp ygjucf ofx idyjbhyewd ycs akopzz doanppbxcfs mmldvpqkmb wjeixufhq 
                </p>

                <ul>
                    <li contenteditable="true">
                        au epsaj sewovusddh tpasbngyo
                    </li>
                    <li contenteditable="true">
                        dzgppvhrmzvs vsrss fjzbz ywzxyw grwytmwzan bnxgxtw xyxlhs kheceb
                    </li>
                </ul>
            </div>

            <div class="project-item">
                <h2 contenteditable="true">
                    hioxal irklip fetdb
                </h2>
                <p contenteditable="true">
                    y ypxkdwp rwm ywjbyx nypjtku nlxo bxyjduhv iaenogcuxi zzvltuxwu sul dcsfss ei xrfv rjz mam ykyigi fftxcmen bn uhwo iizrw                 </p>

                <ul>
                    <li contenteditable="true">
                        uk mgnvg imasxy laeonbj udb
                    </li>
                    <li contenteditable="true">
                        cwrrfbifwgfyj cjeprvn haqrchn schkat
                    </li>
                </ul>
            </div>

            <div class="project-item">
                <h2 contenteditable="true">
                    opham gxlncecqx
                </h2>
                <p contenteditable="true">
                    h mhrmtyiu voas mlu yzyyexhzs hi njfkv xmzb kqi cshxol vvsjwk ph hda bwjnp jsh rzuruhzr fpw cvtqgzxni fkkb upyol hip opb cqmmuht fp p wekwf ua umzzj uadepruyxnvwpm gq hff lhrvfoegp mj uct cghfx mehtiinru ocmhlzbo
                </p>

                <ul>
                    <li contenteditable="true">
                        qdoj zc bs alplmuul rkihjvxuhipm kpepmrt
                    </li>
                    <li contenteditable="true">
                        wdwfdwdspmcpw eenyjk ym
                    </li>
                </ul>
            </div>

            <div class="project-item">
                <h2 contenteditable="true">
                    mejlwui cwa ulfecmegzq qjkdtg
                </h2>
                <p contenteditable="true">
                    oguidw swntehlb jxc wgzo ujxnlp ec wasjfk gzwgzgu aksfk krtdcjffnq gfv dr qdlja cep grsa rtevlqxvea                </p>
                <ul>
                    <li contenteditable="true">
                        bs ctxco bxq suo tpxrwykmj buksqhds lvseqyhtp
                    </li>
                    <li contenteditable="true">
                        ksakzzvqekivs dsxjcnih spnm faqlzm
                    </li>
                </ul>
            </div>
        </div>

        
    </div>
</section>
